<?xml version="1.0"?>


<robot name="wall" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.14" />

  	<link name="world"></link>

  	<link name="wall_bott">
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="1" />
          <inertia
            ixx="1"  ixy="0.0" ixz="0.0"
            iyx="0.0" iyy="1" iyz="0.0"
            izx="0.0" izy="0.0" izz="1" />
      </inertial>
      <visual>
      	<origin rpy="0 0 0" xyz="0 0 0.25"/>
        <geometry>
          <box size="0.5 4 0.5"/> 
        </geometry>
      </visual>
    </link>

    <link name="wall_top">
      <inertial>
        <origin rpy="0 0 0" xyz="0 0 0"/>
          <mass value="1" />
          <inertia
            ixx="1"  ixy="0.0" ixz="0.0"
            iyx="0.0" iyy="1" iyz="0.0"
            izx="0.0" izy="0.0" izz="1" />
      </inertial>
      <visual>
      	<origin rpy="0 0 0" xyz="0 0 2.5"/>
        <geometry>
          <box size="0.5 4 5"/> 
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 2.5"/>
        <geometry>
            <box size="0.5 4 5"/>
        </geometry>
      </collision> 
    </link>

    <joint name="wall1" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="world"/>
        <child link="wall_bott"/>
    </joint>

    <joint name="wall2" type="prismatic">
        <origin xyz="0 0 0.5" rpy="0 0 0" />
        <parent link="wall_bott"/>
        <child link="wall_top"/>
        <axis xyz="1 0 0" />
        <limit effort="0" velocity="0" lower="0" upper="0" />
    </joint>

</robot>