<?xml version="1.0"?>

<robot name="wall" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--
  It seems that the xacro:property does not allow to use substitution args. Therefore, instead xacro parameter ${namespace}, subsitution argument is used $(arg name). This is 
  <xacro:property name="namespace" value="$(arg name)" />
  -->

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/wall</robotNamespace>
      <robotParam>/wall/robot_description </robotParam>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <xacro:property name="enable_bag_plugin" value="false" />
  <xacro:property name="bag_file" value="wall.bag" />

  <!-- Instantiate mmuav "mechanics" -->
  <xacro:include filename="$(find mmuav_description)/urdf/wall.base.urdf.xacro" />
  <xacro:include filename="$(find rotors_description)/urdf/component_snippets.xacro" />

  <!-- Enable the Joint Feedback -->
  <gazebo reference="wall2">
    <stopCfm>0.08</stopCfm>
    <stopErp>0.2</stopErp>
    <implicitSpringDamper>true</implicitSpringDamper>
    <provideFeedback>true</provideFeedback>
  </gazebo>

  <!-- The ft_sensor plugin  -->
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>1000.0</updateRate>
      <robotNamespace>$(arg name)</robotNamespace>
      <topicName>/force_sensor/ft_sensor</topicName> 
      <jointName>wall2</jointName>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.0001</stddev> <!-- change this to simulate noise --> 
      </noise>
    </plugin>
  </gazebo>

  <gazebo reference="world">
    <dampingFactor>0.0002</dampingFactor>
  </gazebo>

</robot>