<?xml version="1.0"?>

<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="world"/>
  <arg name="verbose" default="false"/>

  <arg name="enable_logging" default="true"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="ruka"/>

  <arg name="namespace" default="ruka"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>

  <include file="$(find mmuav_description)/launch/spawn_robotska_ruka.launch" />
  <include file="$(find mmuav_control)/launch/robotska_ruka_control.launch" />

  <!--node name="robotska_ruka_control" pkg="mmuav_control" type="robotska_ruka_control.py" output="screen"/-->

  <group ns="$(arg namespace)">
    <node name="uav_attitude_control" pkg="mmuav_control" type="uav_attitude_control" output="screen"/>
    <node name="uav_position_control" pkg="mmuav_control" type="uav_position_control" output="screen"/>
    <node name="uav_impedance_control" pkg="mmuav_control" type="uav_impedance_control" output="screen"/>
    <node name="controller_outputs_to_motor_velocities" pkg="mmuav_control" type="controller_outputs_to_motor_velocities.py" output="screen"/>
  </group>

</launch>
