<?xml version="1.0" ?>

<!--
    mmuav_geometric_control.launch
    Created on: May 11, 2018
        Author: lmark
-->

<launch>
    
    <arg name="namespace" default="mmcuav"/>
    <arg name="rate" default="100"/>
    <arg name="type" default="mmcuav"/>

    <node name="geometric_control" pkg="mmuav_control" type="UavGeometryControl"
        output="screen">
      <param name="rate" type="double" value="$(arg rate)"/>
      <param name="type" type="string" value="$(arg type)"/>
      <param name="mass_ctl" type="boolean" value="true"/>
    </node>
    
    <!-- Load mass controllers -->
    <include file="$(find mmuav_control)/launch/mmcuav_control.launch"/>
   
</launch>