<?xml version="1.0" ?>

<!--
    mmuav_geometric_control.launch
    Created on: May 11, 2018
        Author: lmark
-->

<launch>
    
    <arg name="namespace" default="mmcuav"/>
    <arg name="rate" default="100"/>
    <arg name="type" default="mmcuav"/>
    <arg name="mass_ctl" default="false" />
    <arg name="manipulator_ctl" default="false" />


    <!-- Start control -->
    <include file="$(find mmuav_control)/launch/mmuav_control.launch"/>
    
    <group ns="$(arg type)">
        <!-- Merge height and attitude control node -->
        <node name="gripper_control" pkg="mmuav_control" type="mmuav_gripper_control.py" output="screen">
          <param name="rate" value="$(arg rate)"/>
        </node>
    </group>
    
    <node name="geometric_control" pkg="mmuav_control" type="UavGeometryControl"
        output="screen">
      <param name="rate" type="double" value="$(arg rate)"/>
      <param name="type" type="string" value="$(arg type)"/>
      <param name="manipulator_ctl" type="boolean" value="true"/>
    </node>
   
</launch>