<?xml version="1.0" ?>

<launch>
  <arg name="namespace" default="vpc_mmcuav"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen"  ns="$(arg namespace)">
    <remap from="/joint_states" to="$(arg namespace)/joint_states"/>
    <remap from="/robot_description" to="$(arg namespace)/robot_description"/>
  </node>

</launch>
