<?xml version="1.0" ?>

<launch>
  <arg name="namespace" default="uav"/>
  <arg name="rate" default="100"/>

  <group ns="$(arg namespace)">
    <!-- Attitude control -->
    <node name="rotors_variation_attitude_control" pkg="mmuav_control" type="rotors_variation_attitude_control.py">
      <param name="rate" value="$(arg rate)"/>
    </node>

    <!-- Height control -->
    <node name="rotors_variation_height_control" pkg="mmuav_control" type="rotors_variation_height_ctl.py">
      <param name="rate" value="$(arg rate)"/>
    </node>

    <!-- Merge height and attitude control node -->
    <node name="rotors_variation_controller_outputs_to_motor_velocities" pkg="mmuav_control" type="rotors_variation_controller_outputs_to_motor_velocities.py">
      <param name="rate" value="$(arg rate)"/>
    </node>

  </group>

</launch>
