<?xml version="1.0" ?>

<launch>
  <arg name="namespace" default="vpc_ttcuav"/>
  <arg name="rate" default="100"/>

  <group ns="$(arg namespace)">
    <!-- Attitude control -->
    <node name="vpc_ttc_attitude_control" pkg="mmuav_control" type="vpc_ttc_attitude_control.py">
      <param name="rate" value="$(arg rate)"/>
    </node>

    <!-- Start vpc height control -->
    <node name="vpc_mmuav_height_control" pkg="mmuav_control" type="vpc_ttc_position_ctl.py" output="screen">
      <param name="rate" value="$(arg rate)"/>
    </node>

    <!-- Merge height and attitude control node -->
    <node name="vpc_ttc_controller_outputs_to_motor_velocities" pkg="mmuav_control" type="vpc_ttc_controller_outputs_to_motor_velocities.py">
      <param name="rate" value="$(arg rate)"/>
    </node>

  </group>

</launch>